<p id="notice"><%= notice %></p>

<h1>Lista de Mensagens Recebidas</h1>
      <% @messages.each do |message| %>
      <div id="message">  
        <% user = User.find(message.sender_id)%>
        <p><b>Sended <%= time_ago_in_words(message.created_at) %> ago by <%=user.name%> </b></p>
        <p><%= message.text %></p>
        <%= link_to 'Apagar', message, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

<br>

<%= link_to 'New Message', new_message_path %>
