<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirme sua senha" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :address, "Endereço" %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone, "Telefone" %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :birth, "Data de nascimento" %><br>
    <%= f.date_select :birth %>
  </div>
	<div class="form-group">
    <%= f.label :avatar, "Escolha uma foto", class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
    	<%= f.file_field :avatar %>
    </div>
  </div>

  <div id="signup-button">
    <%= f.submit "Criar conta", class: "btn waves-effect waves-light" do %>
      <i class="material-icons right">send</i>
    <% end %>
  </div>

<% end %>
