<div id="post-new">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(@post.errors.count, "erro", "erros") %> ocorreram:</h5>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col s12" id="" style="text-align: center; margin-top: 30px; width=100% !important;"">
      <div class="card yellow darken-3">
        <div class="card-content white-text">
          <span class="card-title">Crie aqui sua publicação</span>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label "Texto" %><br>
      <%= f.text_field :text %>
    </div>
    <div class="field">
      <%= f.label "Localização" %><br>
      <%= f.text_field :location %>
    </div>

    <div class="col s12" id="" style="text-align: center; width=100% !important;">
      <div class="card yellow darken-3">
        <div class="card-content white-text">
          <span class="card-title">Insira aqui as informações do animal</span>
        </div>
      </div>
    </div>

    <%= f.fields_for :animal do |ff| %>
      <div class="field">
        <%= ff.label "Nome" %>
        <%= ff.text_field :name %>
      </div>
      <div class="field">
        <%= ff.label "Tipo" %><br>
        <%= ff.text_field :kind %>
      </div>
      <div class="field">
        <%= ff.label "Raça" %><br>
        <%= ff.text_field :breed %>
      </div>
      <div class="field">
        <%= ff.check_box :vaccined %>
        <%= ff.label :vaccined, "Vacinado" %><br>
      </div>
      <div class="field">
        <%= ff.check_box :castrated %>
        <%= ff.label :castrated, "Castrado" %><br>
      </div>
      <div class="field">
        <%= ff.label "Sexo" %><br>
        <%= ff.select(:sex, ['M', 'F']) %>
      </div>

      <div class="field">
        <%= ff.label "Selecione o tamanho" %>
        <%= ff.select(:size, ["Pequeno", "Médio", "Grande"]) %>
      </div>

      <div class="form-group">
        <%= ff.label "Foto do animal", class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
          <%= ff.file_field :avatar %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Criar publicação", class: 'btn', style: 'margin-left: 38%; margin-top: 30px; margin-bottom: 100px;' %>
    </div>
  <% end %>
</div>
