<%= form_tag reported_path, method: :post do |t| %>

  <%= hidden_field_tag :user_id , params[:id] %>

  <%= label_tag :reason %><br>
  <%= text_field_tag :reason %>

  <p><%= submit_tag ("Denunciar") %>
  </div>

<% end %>
