<div class="user-show">
  <span class="user-image"><%= image_tag @user.avatar.url(:thumb), class:'user-profile-image' %></span>
  <div class="user-info">
    <table id="user-attributes">
      <tr><td>Nome:<%= @user.name%></td></tr>
      <tr><td>E-mail:<%= @user.email%></td></tr>
      <tr><td>Telefone:<%= @user.phone%></td></tr>
      <%if !(@user.interests.blank?) %>
        <tr><td>Interressados:<%= @user.interests%></td></tr>
      <%end%>
    </table>

    <%= link_to 'Denunciar usuário', report_user_url(@user), class: "btn btn-info red darken-4", id: "edit-path" %>
    <%= link_to 'Denúncias', reports_list_url(@user), class:'btn btn-primary' %>
  </div>
</div>
