<div class="user-show">
  <span class="user-image"><%= image_tag current_user.avatar.url(:thumb), class:'user-profile-image' %></span>
  <div class="user-info">
    <table id="user-attributes">
      <tr><td>Nome:<%= @user.name%></td></tr>
      <tr><td>E-mail:<%= @user.email%></td></tr>
      <tr><td>Telefone:<%= @user.phone%></td></tr>
    </table>

    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info", id: "edit-path" %>
    <%= link_to 'Denunciar usuário', "#{@user.id}/new_report", class: "btn btn-info red darken-4", id: "edit-path" %>
  </div>
</div>
