<div class="row">
<form class="col s12">
    <div class="row">
        <div class="input-field col s2"></div>
        <div class="input-field col s5">
            <input id="icon_prefix" type="text" class="validate" />
            <label for="icon_prefix">Search</label>
        </div>
        <div class="input-field col s3">
            <label>Materialize Select</label>
            <select>
                <option value="" disabled="disabled" selected="selected">Choose your option</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
        <div class="input-field col s2"></div>
    </div>
</form>



asdasdasdasdasddasd
<div id="post-new">
  <%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :text %><br>
      <%= f.text_field :text %>
    </div>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>

    <h5>Insira aqui as informaçaaasões do animal</h5>

    <%= f.fields_for :animal do |ff| %>
      <div class="field">
        <%= ff.label :name %>
        <%= ff.text_field :name %>
      </div>
      <div class="field">
        <%= ff.label :kind %><br>
        <%= ff.text_field :kind %>
      </div>
      <div class="field">
        <%= ff.label :breed %><br>
        <%= ff.text_field :breed %>
      </div>
      <div class="field">
        <%= ff.check_box :vaccined %>
        <%= ff.label :vaccined %><br>
      </div>
      <div class="field">
        <%= ff.check_box :castrated %>
        <%= ff.label :castrated %><br>
      </div>
      <div class="field">
        <%= ff.label :sex %><br>
        <%= ff.text_field :sex %>
      </div>

      <div class="field">
        <%= ff.check_box :adopted %>
        <%= ff.label :adopted %>
      </div>


      <div class="field">
        <%= ff.label :size %><br>
        <%= ff.text_field :size %>
        </div>

      <div class="form-group">
        <%= ff.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
          <%= ff.file_field :avatar %>
        </div>
      </div>
    <% end %>


    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
