<p id="notice"><%= notice %></p>

<!-- <%= link_to new_post_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="material-icons add"></i>
  <% end %> -->

  <%= link_to '<i class="material-icons">add</i>'.html_safe, new_post_path, class: 'btn-floating btn-large waves-effect waves-light red' %>
<table>

  <tbody>
    <% @posts.each do |post| %>
        <tr class="publication">
          <td id="publication-photo"><%= link_to(image_tag(post.avatar.url(:thumb), class:'post-profile-image'), post_path(post)) %></td>
          <td>
            <table>
              <tr><td><%= post.location %></td></tr>
              <tr><td><%= post.text %></td></tr>
            </table>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
