<p id="notice"><%= notice %></p>

<%= link_to new_user_post_url, class: "btn-floating btn-large waves-effect waves-light red", style: 'margin: 0 0 1% 1%;' do %>
  <i class="material-icons">add</i>
<% end %>

<h4>Ordenar por</h4>
<%= link_to "Data", posts_path(order: "date") %>
<%= link_to "Nada", posts_path %>

<table>
  <tbody>
    <% @posts.each do |post| %>
        <tr class="publication">
          <td id="publication-photo"><%= link_to(image_tag(post.animal.avatar.url(:thumb), class:'post-profile-image'), post_path(post)) %></td>
          <td>
            <table>
              <tr><td><%= post.location %></td></tr>
              <tr><td><%= post.text %></td></tr>
            </table>
          </td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>
