<!DOCTYPE html>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>
<head>

  <title>Audopt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <nav>
    <div class="nav-wrapper lime darken-3" id="header">
      <% if  !logged_in? %>
        <span class="logo">
          <%= link_to image_tag('logo.png', class: 'image-logo'), root_path %>
          <%= link_to "Audopt", root_path, class: "brand-logo" %>
        </span>
      <% else %>
        <span class="logo">
          <%= link_to image_tag('logo.png', class: 'image-logo'), posts_path %>
          <%= link_to "Audopt", posts_path, class: "brand-logo" %>
        </span>
      <% end %>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
        <li><%= link_to "Notícias", articles_path %></li>
        <li><%= link_to "Mensagens", messages_path %></li>
        <li><%= link_to "Publicações", posts_path %></li>

        <li>
          <!-- Dropdown Trigger -->
          <%= link_to "Notificações", "#", class: 'dropdown-button', data: { activates: 'dropdown1' } %>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <% user_notifications.each do |notification| %>
              <li><%= notification_type(notification) %></li>
            <% end %>

            <li class="divider"></li>
            <li><%= link_to "Ver mais", notifications_path %></li>
          </ul>
        </li>

        <li><%= link_to "Bem vindo, %s" % current_user.name, user_path(current_user)%></li>
        <li><%= link_to "Sair", logout_path %>
          <% else %>
          <li><%= link_to "Cadastre-se", new_user_path %></li>
          <li><%= link_to "Entrar", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

</head>

<body style="background-image: url('/assets/background.png');">

  <div class="whole-content">
    <%= yield %>
  </div>

</body>
</html>
