<!DOCTYPE html>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<html>
<head>

  <title>Audopt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>

  <nav>
    <div class="nav-wrapper lime darken-3">
      <%= link_to "Audopt", root_path, class: "brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if logged_in? %>
          <li><%= link_to "Messagens Recebidas", messages_path %></li>
          <li><%= link_to "Publicações", posts_path %></li>
          <li><%= link_to "Bem vindo, %s" % current_user.name, user_path(current_user)%></li>
          <li><%= link_to "Sair", logout_path %>
        <% else %>
          <li><%= link_to "Cadastre-se", new_user_path %></li>
          <li><%= link_to "Entrar", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
